*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 5vh ;
}   

div {
    border: 2px solid #000000;
    padding:  10px;
    border-radius: 15px;
    box-shadow: rgba(252, 0, 0, 0.705) -5px 5px, rgba(255, 187, 0, 0.705) -10px 10px, rgba(30, 255, 0, 0.562) -15px 15px, rgba(0, 255, 221, 0.479) -20px 20px, rgba(38, 0, 255, 0.521) -25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

