*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap:5vh;
    min-height: 100vh;
    height: auto;
    padding-bottom: 2vh;
    background-color: rgb(64, 117, 117);
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;


}   

div {
    margin: 10px;
    border: 2px solid #000000;
    padding:  10px;
    border-radius:15px;
    box-shadow: rgba(252, 0, 0, 0.705) -5px 5px, rgba(255, 187, 0, 0.705) -10px 10px, rgba(30, 255, 0, 0.562) -15px 15px, rgba(0, 255, 221, 0.479) -20px 20px, rgba(38, 0, 255, 0.521) -25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 250px;
    height: 300px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    padding-top: 2vh;

}
label{
    margin-bottom: -10px;
    text-align: left;
    width: 100%;
    font-size: 20px;
    padding-left: 15px;


}
input{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #000000;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #161515;
    transition: all 200ms ease-in-out;
}

button:hover{
    transform:scale(1.1); 
    cursor: pointer;
    border: 2px solid #eb2626;
    background-color: #eb2626;
    color: white;
    font-weight: bold;
    box-shadow:  0px 3px 10px #201f1f ;

}


