*{
    margin: 0%;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap:5vh;
    min-height: 100vh;
    height: auto;
    padding-bottom: 2vh;
    background-color: rgb(64, 117, 117);
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;


}   

div {
    margin: 10px;
    border: 2px solid #000000;
    padding:  10px;
    border-radius:15px;
    box-shadow: rgba(252, 0, 0, 0.705) -5px 5px, rgba(255, 187, 0, 0.705) -10px 10px, rgba(30, 255, 0, 0.562) -15px 15px, rgba(0, 255, 221, 0.479) -20px 20px, rgba(38, 0, 255, 0.521) -25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vh;
    width: 250px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    transition: all 200ms ease-in-out;
    margin: 20px;
}

div:hover{
    box-shadow: rgba(252, 0, 0, 0.326) -5px 5px, rgba(47, 255, 0, 0.186) -10px 10px, rgba(30, 255, 0, 0.202) -15px 15px, rgba(0, 255, 221, 0.26) -20px 20px, rgba(38, 0, 255, 0.211) -25px 25px;
    transform: scale(1.1)
}
p{
    width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    font-size: 30px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    padding-top: 2vh;

}
label{
    margin-bottom: -10px;
    text-align: left;
    width: 100%;
    font-size: 20px;
    padding-left: 15px;


}
input{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #000000;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid #161515;
    transition: all 200ms ease-in-out;
}

button:hover{
    transform:scale(1.1); 
    cursor: pointer;
    border: 2px solid #eb2626;
    background-color: #eb2626;
    color: white;
    font-weight: bold;
    box-shadow:  0px 3px 10px #201f1f ;

}

h1 h2{
    font-family: "Playwrite NO", cursive;
}
h1{
    font-size: 40px;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: aliceblue;
    top: 0;
    box-shadow: 0px 3px 10px #000000;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: formTop 500ms ease-in-out;

}
@keyframes formTop{
    0%{
        opacity: 0;
        transform:  translateY(-100px);
    }
    100%{
        opacity: 1;
    }
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 900;
    transition: all 500ms ease-in-out;
    padding: 10px;
}
a:hover{
    cursor: pointer;
    opacity: 1;
}