*{
    margin:0;
    padding: 0;

}

nav{
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: aliceblue;
    top: 0;
    box-shadow: 0px 3px 10px #000000;
    justify-content: center;
    gap: 20px;
    animation: formTop 500ms ease-in-out;

}
@keyframes formTop{
    0%{
        opacity: 0;
        transform:  translateY(-100px);
    }
    100%{
        opacity: 1;
    }
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 900;
    transition: all 500ms ease-in-out;

}
a:hover{
    cursor: pointer;
    opacity: 1;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-image: url('../IMAGENS/download.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #000000;
    font-size: 64px;
    text-shadow:  0px 3px 10px #ffff;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    padding: 20px;
    border-radius: 999px;
    width: 100px;
    font-size: 22px;
}
button{
    padding: 20px;
    opacity: 0.5;
    border-radius: 999px;

}
button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 10px #000000;
}
p{
    background-color: #ffff;
    border-radius: 10px;
    padding: ;
}